[submodule "src/jupiter"]
	path = src/jupiter
	url = https://github.com/galaxy-team/jupiter.git
[submodule "src/saturn"]
	path = src/saturn
	url = https://github.com/galaxy-team/saturn.git
[submodule "src/pluto"]
	path = src/pluto
	url = https://github.com/galaxy-team/pluto.git
