[submodule "lib/jupiter"]
	path = lib/jupiter
	url = https://github.com/galaxy-team/jupiter.git
[submodule "lib/pluto"]
	path = lib/pluto
	url = https://github.com/galaxy-team/pluto.git
[submodule "lib/asteroid"]
	path = lib/asteroid
	url = https://github.com/galaxy-team/asteroid.git
[submodule "lib/libsaturn"]
	path = lib/libsaturn
	url = https://github.com/galaxy-team/libsaturn.git
